{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container mt-4">

    <h1>profil {{ nama }}</h1>
    
    <p>Welcome to your profil.</p>
    <a href="{{ url_for('main.create_post_route') }}" class="btn btn-dark badge">+ Tambah Postingan</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.content | striptags | truncate(100) }}</td>
                <td>{{ post.username }}</td>
                <td>{{ post.category_name }}</td>
                <td class="d-flex">
                    <a href="{{ url_for('main.update_post_route', post_id=post.id) }}" class="btn btn-primary badge me-2">Edit</a>
                    <form action="{{ url_for('main.delete_post_route', post_id=post.id) }}" method="POST">
                        <button type="submit" class="btn btn-danger badge" onclick="return confirm('Apakah Anda yakin ingin menghapus post ini?');">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
